:root {
  --toastify-color-light: #4C566A;
  --toastify-color-dark: #4C566A;
  --toastify-color-info: #81A1C1;
  --toastify-color-success: #A3BE8C;
  --toastify-color-warning: #EBCB8B;
  --toastify-color-error: #BF616A;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 400px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #fff;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme. */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Used when no type is provided. */
  --toastify-color-progress-light: linear-gradient(
    to right,
    #a3be8c,
    #88c0d0,
    #5e81ac,
    #81a1c1,
    #b48ead,
    #bf616a
  );

  /* Used when no type is provided. */
  --toastify-color-progress-dark: #b48ead;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}