@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nord-gray-0:    0 0% 100%;   /* #ffffff */
    --nord-gray-25:   210 33% 99%; /* #fbfcfd */
    --nord-gray-50:   220 27% 98%; /* #f8f9fb */
    --nord-gray-75:   216 29% 97%; /* #f4f6f9 */
    --nord-gray-100:  220 27% 96%; /* #f1f3f7 */
    --nord-gray-125:  218 29% 95%; /* #edf0f5 */
    --nord-gray-150:  220 27% 94%; /* #eaedf3 */
    --nord-gray-175:  218 28% 92%; /* #e6eaf1 */
    --nord-gray-200:  220 27% 91%; /* #e3e7ef */
    --nord-gray-225:  219 28% 90%; /* #dfe4ed */
    --nord-gray-250:  217 29% 89%; /* #dbe1eb */
    --nord-gray-275:  219 28% 88%; /* #d8dee9 */
    --nord-gray-300:  218 17% 87%; /* #d9dde4 */
    --nord-gray-325:  219 17% 84%; /* #cfd4dd */
    --nord-gray-350:  221 16% 81%; /* #c6cbd6 */
    --nord-gray-375:  219 18% 78%; /* #bcc3d0 */
    --nord-gray-400:  221 17% 75%; /* #b3bac9 */
    --nord-gray-425:  221 17% 71%; /* #a9b1c2 */
    --nord-gray-450:  220 17% 68%; /* #a0a9bb */
    --nord-gray-475:  220 17% 65%; /* #96a0b4 */
    --nord-gray-500:  219 17% 62%; /* #8c98ae */
    --nord-gray-525:  220 17% 58%; /* #838fa7 */
    --nord-gray-550:  220 17% 55%; /* #7986a0 */
    --nord-gray-575:  220 17% 52%; /* #707e99 */
    --nord-gray-600:  220 17% 49%; /* #677592 */
    --nord-gray-625:  220 17% 46%; /* #616e88 */
    --nord-gray-650:  221 17% 43%; /* #5a667f */
    --nord-gray-675:  221 17% 39%; /* #535e75 */
    --nord-gray-700:  220 16% 36%; /* #4C566A */
    --nord-gray-725:  220 17% 32%; /* #444d5f */
    --nord-gray-750:  220 17% 32%; /* #434C5E */
    --nord-gray-775:  222 16% 28%; /* #3c4353 */
    --nord-gray-800:  222 16% 28%; /* #3B4252 */
    --nord-gray-825:  220 16% 26%; /* #383F4D */
    --nord-gray-850:  220 16% 22%; /* #2E3440 */
    --nord-gray-875:  220 16% 18%; /* #272c36 */
    --nord-gray-900:  220 16% 15%; /* #1f232b */
    --nord-gray-925:  220 16% 11%; /* #181b21 */
    --nord-gray-950:  220 16% 7%;  /* #101216 */
    --nord-gray-975:  220 16% 4%;  /* #08090b */
    --nord-gray-1000: 0 0% 0%;     /* #000000 */

    --nord-red:        354 42% 56%; /* #be6069 */
    --nord-orange:     14 51% 63%;  /* #d18771 */
    --nord-yellow:     40 71% 73%;  /* #ebca89 */
    --nord-green:      92 28% 65%;  /* #a4bf8d */
    --nord-blue-green: 179 25% 65%; /* #8fbcbb */
    --nord-light-blue: 193 43% 67%; /* #87bfcf */
    --nord-blue:       210 34% 63%; /* #81a1c1 */
    --nord-dark-blue:  213 32% 52%; /* #5d81ac */
    --nord-purple:     311 20% 63%; /* #b48ead */

    --primary: var(--nord-blue);
    --secondary: var(--nord-dark-blue);
    --destructive: var(--nord-red);
    --success: var(--nord-green);
    --warn: var(--nord-yellow);

    --ring: var(--primary);
    --radius: 0.35rem;    
  }

  .light {
    --nord-selected: 210 31% 90%;
    --background: var(--nord-gray-50);
    --foreground: var(--nord-gray-650);
    --foreground-accent: var(--nord-gray-150);
    --foreground-selected: var(--nord-selected);

    --muted: var(--nord-gray-175);
    --muted-foreground: var(--nord-gray-475);

    --border: var(--nord-gray-150);
    --input: var(--nord-gray-150);

    --card: var(--nord-gray-0);
    --card-foreground: var(--nord-gray-750);
    --card-accent: var(--nord-gray-100);
    --card-selected: var(--nord-gray-175);

    --primary-foreground: var(--nord-gray-175);
    --secondary-foreground: var(--nord-gray-175);
    --destructive-foreground: var(--nord-gray-175);
    --success-foreground: var(--nord-gray-175);
    --warn-foreground: var(--nord-gray-600);

    --selected: var(--nord-selected);
    --selected-foreground: var(--nord-gray-800);

    --accent: var(--nord-gray-150);
    --accent-foreground: var(--nord-gray-800);
  }

  .dark {
    --background: var(--nord-gray-850);
    --foreground: var(--nord-gray-350);
    --foreground-accent: var(--nord-gray-825);
    --foreground-selected: var(--nord-gray-725);

    --muted: var(--nord-gray-700);
    --muted-foreground: var(--nord-gray-450);

    --accent: var(--nord-gray-825);
    --accent-foreground: var(--nord-gray-175);

    --border: var(--nord-gray-725);
    --input: var(--nord-gray-725);

    --card: var(--nord-gray-775);
    --card-foreground: var(--nord-gray-300);
    --card-accent: var(--nord-gray-700);
    --card-selected: var(--nord-gray-675);

    --primary-foreground: var(--nord-gray-850);
    --secondary-foreground: var(--nord-gray-850);
    --destructive-foreground: var(--nord-gray-850);
    --success-foreground: var(--nord-gray-850);
    --warn-foreground: var(--nord-gray-850);

    --selected: var(--nord-gray-725);
    --selected-foreground: var(--nord-gray-200);
  }

  ::selection {
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }
}
 
@layer base {
  * {
    @apply border-border;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-8 w-8 items-center justify-center rounded-full bg-muted text-center -indent-px text-base font-medium;
    @apply ml-[-41px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}