@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --zinc-50:  0 0% 98%;   /* #fafafa */
    --zinc-100: 240 5% 96%; /* #f4f4f5 */
    --zinc-200: 240 6% 90%; /* #e4e4e7 */
    --zinc-300: 240 5% 84%; /* #d4d4d8 */
    --zinc-400: 240 5% 65%; /* #a1a1aa */
    --zinc-500: 240 4% 46%; /* #71717a */
    --zinc-600: 240 5% 34%; /* #52525b */
    --zinc-700: 240 5% 26%; /* #3f3f46 */
    --zinc-800: 240 4% 16%; /* #27272a */
    --zinc-900: 240 6% 10%; /* #18181b */
    --zinc-950: 240 10% 4%; /* #09090b */

    --neutral-50:  0 0% 98%; /* #fafafa */
    --neutral-100: 0 0% 96%; /* #f5f5f5 */
    --neutral-200: 0 0% 90%; /* #e5e5e5 */
    --neutral-300: 0 0% 83%; /* #d4d4d4 */
    --neutral-400: 0 0% 64%; /* #a3a3a3 */
    --neutral-500: 0 0% 45%; /* #737373 */
    --neutral-600: 0 0% 32%; /* #525252 */
    --neutral-700: 0 0% 25%; /* #404040 */
    --neutral-800: 0 0% 15%; /* #262626 */
    --neutral-900: 0 0% 9%;  /* #171717 */
    --neutral-950: 0 0% 4%;  /* #0a0a0a */

    --stone-50:  60 9% 98%;  /* #fafaf9 */
    --stone-100: 60 5% 96%;  /* #f5f5f4 */
    --stone-200: 20 6% 90%;  /* #e7e5e4 */
    --stone-300: 24 6% 83%;  /* #d6d3d1 */
    --stone-400: 24 5% 64%;  /* #a8a29e */
    --stone-500: 25 5% 45%;  /* #78716c */
    --stone-600: 33 5% 32%;  /* #57534e */
    --stone-700: 30 6% 25%;  /* #44403c */
    --stone-800: 12 6% 15%;  /* #292524 */
    --stone-900: 24 10% 10%; /* #1c1917 */
    --stone-950: 20 14% 4%;  /* #0c0a09 */

    --nord-red:        354 42% 56%; /* #be6069 */
    --nord-orange:     14 51% 63%;  /* #d18771 */
    --nord-yellow:     40 71% 73%;  /* #ebca89 */
    --nord-green:      92 28% 65%;  /* #a4bf8d */
    --nord-blue-green: 179 25% 65%; /* #8fbcbb */
    --nord-light-blue: 193 43% 67%; /* #87bfcf */
    --nord-blue:       210 34% 63%; /* #81a1c1 */
    --nord-dark-blue:  213 32% 52%; /* #5d81ac */
    --nord-purple:     311 20% 63%; /* #b48ead */
    
    --newspaper-light: 0 0% 45%;
    --newspaper-muted: 180 1% 30%;
  	--newspaper-gray: 0 0% 60%;

    --info: var(--nord-blue);
    --destructive: var(--nord-red);
    --success: var(--nord-green);
    --warn: var(--nord-yellow);

    --ring: var(--primary);
    --radius: 0.35rem;    
  }

  .light {
    --primary: var(--neutral-800);
    --secondary: var(--zinc-400);

    --background: var(--zinc-100);
    --foreground: var(--neutral-600);
    --foreground-selected: var(--zinc-300);
    --foreground-accent: var(--zinc-200);

    --muted: var(--neutral-200);
    --muted-foreground: var(--zinc-400);

    --accent: var(--neutral-200);
    --accent-foreground: var(--foreground);

    --border: var(--neutral-200);
    --input: var(--neutral-300);

    --card: 0 0% 100%; /* #ffffff */
    --card-accent: var(--neutral-100);
    --card-selected: var(--neutral-200);
    --card-muted: var(--zinc-400);

    --primary-foreground: var(--background);
    --secondary-foreground: var(--background);
    --info-foreground: var(--background);
    --destructive-foreground: var(--background);
    --success-foreground: var(--background);
    --warn-foreground: var(--background);
  }

  .dark {
    --primary: var(--zinc-300);
    --secondary: var(--zinc-400);

    --background: 240 6% 10%; /* #18181b */;
    --foreground: var(--neutral-400);
    --foreground-selected: var(--zinc-700);
    --foreground-accent: var(--zinc-800);

    --muted: var(--neutral-700);
    --muted-foreground: var(--neutral-600);

    --accent: var(--neutral-700);
    --accent-foreground: var(--neutral-100);

    --border: var(--neutral-700);
    --input: var(--neutral-700);

    --card: var(--zinc-800);
    --card-accent: var(--stone-700);
    --card-selected: var(--stone-700);
    --card-muted: var(--neutral-600);

    --primary-foreground: var(--background);
    --secondary-foreground: var(--background);
    --info-foreground: var(--background);
    --destructive-foreground: var(--background);
    --success-foreground: var(--background);
    --warn-foreground: var(--background);
  }

  ::selection {
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }
}
 
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-8 w-8 items-center justify-center rounded-full bg-muted text-center -indent-px text-base font-medium;
    @apply ml-[-41px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}